{% extends 'base.html.twig' %}

{% block body %}
	<div class="container col-md-6 text-center mt-3 mb-3">
		<table class="table table-bordered">
			<tr>
				<th colspan="4" class="h1 text text-primary bg-warning">Todo List</th>
			</tr>
			<tr class="text text-danger">
				<th>Id</th>
				<th>Title</th>
				<th>Deadline</th>
				<th>Menu</th>
			</tr>
			{% for todo in todos %}
				<tr>
					<td>{{ todo.id }}</td>
					<td>{{ todo.name }}</td>
					<td>{{ todo.duedate | date('d/m/Y') }}</td>
					<td>
						<a href="#" class="btn btn-info">View</a>
						<a href="#" class="btn btn-warning">Edit</a>
						<a href="#" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
