<form method="post" action="{{ path('app_laptop_delete', {'id': laptop.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ laptop.id) }}">
    <button class="btn">Delete</button>
</form>
