{% form_theme movieForm 'bootstrap_5_layout.html.twig' %}

{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<h1 class="text text-primary">Add new movie</h1>
		{{ form (movieForm)}}
	</div>
{% endblock %}
