<center>
	<form action="{{ path('output') }}" method="post" style="width: fit-content;">
		<fieldset>
			<legend style="font-weight: bold;">User Login</legend>
			Email:
			<input type="email" name="email" required>
			<br><br>
			Password:
			<input type="password" name="password" required>
			<br><br>
			<input type="submit" value="Login">
		</fieldset>
	</form>
</center>
